<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <header>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          {{ if .IsAuthorized }}
          <a href="/" class="button">All articles</a>
          <a href="/my-articles" class="button">My articles</a>
          <a href="/create-article" class="button">New article</a>
          <a href="/logout" class="button">Log Out</a>
          {{ else }}
          <a href="/login" class="button">Log In</a>
          <a href="/signup" class="button">Sign Up</a>
          {{ end }}
        </div>
        <div class="col-sm-3"></div>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          {{ template "content" . }} {{ if .Error }}
          <div class="card error">{{ .Error }}</div>
          {{ end }}
        </div>
        <div class="col-sm-3"></div>
      </div>
    </main>
  </body>
</html>
