{{define "content"}}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form action="/login" method="POST">
      <fieldset>
        <legend>Log In or Sign Up</legend>
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          value="{{ .Username }}"
        />
        <label for="password">Password</label>
        <input
          type="text"
          name="password"
          placeholder="Password"
          value="{{ .Password }}"
        />
      </fieldset>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
      <div>{{ .Error }}</div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
{{end}}
