{{define "content"}}

<form action="/update-article" method="POST">
  <fieldset>
    <legend>Update article</legend>
    <input type="hidden" name="id" value="{{ .Id }}" />
    <input
      type="text"
      name="title"
      placeholder="Title"
      value="{{ .Title }}"
      style="width: 100%"
      required
    />
    <br />
    <textarea name="text" placeholder="Text" style="width: 100%" required>
{{ .Text }}</textarea
    >
  </fieldset>
  <button type="submit" class="primary">Submit</button>
  <button type="reset" class="secondary">Reset</button>
</form>

{{end}}
